In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
customers=pd.read_excel("D:/Self_made Projects/Customer Churn Prediction/data/Telco_customer_churn.xlsx")
customers.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [46]:
customers.columns[customers.dtypes == 'object']

Index(['CustomerID', 'Country', 'State', 'City', 'Lat Long', 'Gender',
       'Senior Citizen', 'Partner', 'Dependents', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Total Charges', 'Churn Label', 'Churn Reason'],
      dtype='object')

In [47]:
customers['Churn Reason'].unique()

array(['Competitor made better offer', 'Moved',
       'Competitor had better devices',
       'Competitor offered higher download speeds',
       'Competitor offered more data', 'Price too high',
       'Product dissatisfaction', 'Service dissatisfaction',
       'Lack of self-service on Website', 'Network reliability',
       'Limited range of services',
       'Lack of affordable download/upload speed',
       'Long distance charges', 'Extra data charges', "Don't know",
       'Poor expertise of online support',
       'Poor expertise of phone support', 'Attitude of service provider',
       'Attitude of support person', 'Deceased', nan], dtype=object)

In [48]:
customers[['Phone Service','Multiple Lines', 'Internet Service', 'Online Security','Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies']]

,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies
0,Yes,No,DSL,Yes,Yes,No,No,No,No
1,Yes,No,Fiber optic,No,No,No,No,No,No
2,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes
3,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes
4,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...
7038,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7039,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes
7040,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
7041,No,No phone service,DSL,Yes,No,No,No,No,No
7042,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [49]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [50]:
customers.isnull().sum()

CustomerID              0
Count                   0
Country                 0
State                   0
City                    0
Zip Code                0
Lat Long                0
Latitude                0
Longitude               0
Gender                  0
Senior Citizen          0
Partner                 0
Dependents              0
Tenure Months           0
Phone Service           0
Multiple Lines          0
Internet Service        0
Online Security         0
Online Backup           0
Device Protection       0
Tech Support            0
Streaming TV            0
Streaming Movies        0
Contract                0
Paperless Billing       0
Payment Method          0
Monthly Charges         0
Total Charges           0
Churn Label             0
Churn Value             0
Churn Score             0
CLTV                    0
Churn Reason         5174
dtype: int64

In [51]:
customers['Total Charges']=pd.to_numeric(customers['Total Charges'],errors='coerce')

In [52]:
customers['Total Charges'].fillna(customers['Total Charges'].median(),inplace=True)

In [53]:
customers.sample(7)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
2645,0810-DHDBD,1,United States,California,Rohnert Park,94928,"38.34719, -122.697822",38.347190,-122.697822,Female,...,One year,No,Credit card (automatic),74.00,3877.65,No,0,39,5806,NaN
1698,6608-QQLVK,1,United States,California,Bangor,95914,"39.396585, -121.38029",39.396585,-121.380290,Male,...,Month-to-month,Yes,Electronic check,50.50,50.50,Yes,1,83,2077,Competitor made better offer
684,6861-XWTWQ,1,United States,California,Napa,94559,"38.232389, -122.324944",38.232389,-122.324944,Male,...,Month-to-month,Yes,Electronic check,99.25,665.45,Yes,1,90,2487,Lack of self-service on Website
221,5073-WXOYN,1,United States,California,Belmont,94002,"37.509366, -122.306132",37.509366,-122.306132,Female,...,Month-to-month,Yes,Electronic check,50.80,3027.40,Yes,1,67,4941,Competitor offered more data
227,9227-LUNBG,1,United States,California,Pescadero,94060,"37.22565, -122.297533",37.225650,-122.297533,Female,...,Month-to-month,No,Electronic check,24.60,24.60,Yes,1,76,5768,Price too high
3248,3566-HJGPK,1,United States,California,Woodland Hills,91367,"34.178068, -118.615714",34.178068,-118.615714,Male,...,Month-to-month,Yes,Mailed check,45.55,45.55,No,0,31,3173,NaN
4672,9602-WCXPI,1,United States,California,Hemet,92544,"33.644585, -116.871544",33.644585,-116.871544,Male,...,One year,No,Credit card (automatic),20.15,989.05,No,0,29,5249,NaN

In [54]:
customers.describe()

,Count,Zip Code,Latitude,Longitude,Tenure Months,Monthly Charges,Total Charges,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,93521.964646,36.282441,-119.798880,32.371149,64.761692,2281.916928,0.265370,58.699418,4400.295755
std,0.0,1865.794555,2.455723,2.157889,24.559481,30.090047,2265.270398,0.441561,21.525131,1183.057152
min,1.0,90001.000000,32.555828,-124.301372,0.000000,18.250000,18.800000,0.000000,5.000000,2003.000000
25%,1.0,92102.000000,34.030915,-121.815412,9.000000,35.500000,402.225000,0.000000,40.000000,3469.000000
50%,1.0,93552.000000,36.391777,-119.730885,29.000000,70.350000,1397.475000,0.000000,61.000000,4527.000000
75%,1.0,95351.000000,38.224869,-118.043237,55.000000,89.850000,3786.600000,1.000000,75.000000,5380.500000
max,1.0,96161.000000,41.962127,-114.192901,72.000000,118.750000,8684.800000,1.000000,100.000000,6500.000000

In [55]:
customers.columns[customers.dtypes != 'object']

Index(['Count', 'Zip Code', 'Latitude', 'Longitude', 'Tenure Months',
       'Monthly Charges', 'Total Charges', 'Churn Value', 'Churn Score',
       'CLTV'],
      dtype='object')

In [56]:
customers['Tenure Months'].dtype

dtype('int64')

In [57]:
customers['CLTV'].unique()

array([3239, 2701, 5372, ..., 2770, 4645, 5553], dtype=int64)

In [58]:
customers['City'].nunique()

1129

In [59]:
numerical_features=customers.select_dtypes(include=['int64','float64']).columns
correlation=customers[numerical_features].corrwith(customers['Churn Label'].apply(lambda x:1 if x=='Yes' else 0))
print(correlation)

Count                   NaN
Zip Code           0.003346
Latitude          -0.003384
Longitude          0.004594
Tenure Months     -0.352229
Monthly Charges    0.193356
Total Charges     -0.199037
Churn Value        1.000000
Churn Score        0.664897
CLTV              -0.127463
dtype: float64

In [60]:
customers[['Churn Value',"Churn Score","Churn Label"]]

      Churn Value  Churn Score Churn Label
0               1           86         Yes
1               1           67         Yes
2               1           86         Yes
3               1           84         Yes
4               1           89         Yes
...           ...          ...         ...
7038            0           45          No
7039            0           59          No
7040            0           71          No
7041            0           59          No
7042            0           38          No

[7043 rows x 3 columns]

In [61]:
customers.drop(columns=['CustomerID',"Count","Zip Code","Latitude","Longitude","Country",'City',"State","Lat Long","Churn Value",'Churn Reason',"Churn Score"], inplace=True)

In [62]:
customers['Gender'] = customers['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
customers['Senior Citizen'] = customers['Senior Citizen'].apply(lambda x: 1 if x == 'Yes' else 0)
customers['Partner'] = customers['Partner'].apply(lambda x: 1 if x == 'Yes' else 0)
customers['Dependents'] = customers['Dependents'].apply(lambda x: 1 if x == 'Yes' else 0)

In [63]:
customers['Paperless Billing'].unique()

array(['Yes', 'No'], dtype=object)

In [64]:
customers['Phone Service'] = customers['Phone Service'].apply(lambda x: 1 if x == 'Yes' else 0)
customers['Paperless Billing'] = customers['Paperless Billing'].apply(lambda x: 1 if x == 'Yes' else 0)

In [65]:
customers.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,...,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,CLTV
0,1,0,0,0,2,1,No,DSL,Yes,Yes,...,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,Yes,3239
1,0,0,0,1,2,1,No,Fiber optic,No,No,...,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,Yes,2701
2,0,0,0,1,8,1,Yes,Fiber optic,No,No,...,No,Yes,Yes,Month-to-month,1,Electronic check,99.65,820.50,Yes,5372
3,0,0,1,1,28,1,Yes,Fiber optic,No,No,...,Yes,Yes,Yes,Month-to-month,1,Electronic check,104.80,3046.05,Yes,5003
4,1,0,0,1,49,1,Yes,Fiber optic,No,Yes,...,No,Yes,Yes,Month-to-month,1,Bank transfer (automatic),103.70,5036.30,Yes,5340

In [66]:
customers.iloc[0:3,13:33]

,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,CLTV
0,No,Month-to-month,1,Mailed check,53.85,108.15,Yes,3239
1,No,Month-to-month,1,Electronic check,70.70,151.65,Yes,2701
2,Yes,Month-to-month,1,Electronic check,99.65,820.50,Yes,5372

In [67]:
# Multiple Lines 3, Internet service 3,Online security 3, Online Security 3,Online Backup 3,Device Protection 3,Tech Support 3,Streaming TV 3,Streaming Movies 3,Contract 3
customers = pd.get_dummies(customers, columns=["Multiple Lines","Payment Method","Internet Service","Online Security","Online Backup","Device Protection","Tech Support","Streaming TV","Streaming Movies","Contract" ], prefix='Category', drop_first=True)

In [68]:
customers.columns

Index(['Gender', 'Senior Citizen', 'Partner', 'Dependents', 'Tenure Months',
       'Phone Service', 'Paperless Billing', 'Monthly Charges',
       'Total Charges', 'Churn Label', 'CLTV', 'Category_No phone service',
       'Category_Yes', 'Category_Credit card (automatic)',
       'Category_Electronic check', 'Category_Mailed check',
       'Category_Fiber optic', 'Category_No', 'Category_No internet service',
       'Category_Yes', 'Category_No internet service', 'Category_Yes',
       'Category_No internet service', 'Category_Yes',
       'Category_No internet service', 'Category_Yes',
       'Category_No internet service', 'Category_Yes',
       'Category_No internet service', 'Category_Yes', 'Category_One year',
       'Category_Two year'],
      dtype='object')

In [69]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

X=customers.drop("Churn Label",axis=1)
y=customers['Churn Label']

# Convert the target variable into numeric labels
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

# Split the data into train and test sets (80-20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
numerical_columns = ['Tenure Months', 'Monthly Charges', 'Total Charges', 'CLTV']
scaler=StandardScaler()

In [70]:
X_train[numerical_columns]=scaler.fit_transform(X_train[numerical_columns])
X_test[numerical_columns]=scaler.fit_transform(X_test[numerical_columns])

In [71]:
X_train.isnull().sum()

Gender                              0
Senior Citizen                      0
Partner                             0
Dependents                          0
Tenure Months                       0
Phone Service                       0
Paperless Billing                   0
Monthly Charges                     0
Total Charges                       0
CLTV                                0
Category_No phone service           0
Category_Yes                        0
Category_Credit card (automatic)    0
Category_Electronic check           0
Category_Mailed check               0
Category_Fiber optic                0
Category_No                         0
Category_No internet service        0
Category_Yes                        0
Category_No internet service        0
Category_Yes                        0
Category_No internet service        0
Category_Yes                        0
Category_No internet service        0
Category_Yes                        0
Category_No internet service        0
Category_Yes                        0
Category_No internet service        0
Category_Yes                        0
Category_One year                   0
Category_Two year                   0
dtype: int64

In [72]:
rf=RandomForestClassifier()

In [73]:
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
print("Accuracy",accuracy_score(y_test,y_pred))
print("Classification Report \n",classification_report(y_test,y_pred))
print("Confusion Matrix",confusion_matrix(y_test,y_pred))

Accuracy 0.7977288857345636
Classification Report
               precision    recall  f1-score   support

           0       0.83      0.91      0.87      1009
           1       0.69      0.52      0.59       400

    accuracy                           0.80      1409
   macro avg       0.76      0.71      0.73      1409
weighted avg       0.79      0.80      0.79      1409

Confusion Matrix [[917  92]
 [193 207]]

In [74]:
feature_importance=pd.DataFrame({
    'Feature':X_train.columns,
    "Importance":rf.feature_importances_
}).sort_values(by='Importance', ascending=False)
print(feature_importance)

                             Feature  Importance
8                      Total Charges    0.156188
4                      Tenure Months    0.150886
7                    Monthly Charges    0.133775
9                               CLTV    0.125916
15              Category_Fiber optic    0.038491
3                         Dependents    0.034856
13         Category_Electronic check    0.033838
30                 Category_Two year    0.031741
0                             Gender    0.023203
6                  Paperless Billing    0.022855
18                      Category_Yes    0.022649
2                            Partner    0.021588
24                      Category_Yes    0.020460
29                 Category_One year    0.018720
20                      Category_Yes    0.018283
11                      Category_Yes    0.017655
1                     Senior Citizen    0.017644
22                      Category_Yes    0.015967
28                      Category_Yes    0.014944
26                      Category_Yes    0.014860
12  Category_Credit card (automatic)    0.011406
14             Category_Mailed check    0.011197
27      Category_No internet service    0.008241
23      Category_No internet service    0.005737
17      Category_No internet service    0.005586
21      Category_No internet service    0.004764
25      Category_No internet service    0.004759
5                      Phone Service    0.004321
10         Category_No phone service    0.003885
16                       Category_No    0.003090
19      Category_No internet service    0.002495

In [75]:
threshold = 0.005
low_importance_features=feature_importance[feature_importance['Importance']<threshold]['Feature'].tolist()
print("Low Important Features: ",low_importance_features)

Low Important Features:  ['Category_No internet service', 'Category_No internet service', 'Phone Service', 'Category_No phone service', 'Category_No', 'Category_No internet service']

In [76]:
X_train=X_train.drop(columns=low_importance_features)
X_test=X_test.drop(columns=low_importance_features)

In [77]:
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
print("Accuracy",accuracy_score(y_test,y_pred))
print("Classification Report \n",classification_report(y_test,y_pred))
print("Confusion Matrix",confusion_matrix(y_test,y_pred))

Accuracy 0.7899219304471257
Classification Report
               precision    recall  f1-score   support

           0       0.82      0.91      0.86      1009
           1       0.68      0.49      0.57       400

    accuracy                           0.79      1409
   macro avg       0.75      0.70      0.72      1409
weighted avg       0.78      0.79      0.78      1409

Confusion Matrix [[915  94]
 [202 198]]

In [78]:
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier(class_weight='balanced',random_state=42)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
print("Accuracy",accuracy_score(y_test,y_pred))
print("Classification Report \n",classification_report(y_test,y_pred))
print("Confusion Matrix",confusion_matrix(y_test,y_pred))

Accuracy 0.7388218594748048
Classification Report
               precision    recall  f1-score   support

           0       0.80      0.84      0.82      1009
           1       0.55      0.48      0.51       400

    accuracy                           0.74      1409
   macro avg       0.67      0.66      0.67      1409
weighted avg       0.73      0.74      0.73      1409

Confusion Matrix [[849 160]
 [208 192]]

In [79]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(random_state=42)
X_resampled,y_resampled=smote.fit_resample(X_train,y_train)

from collections import Counter
print("Class Distribution after resampling: ",y_resampled)

Class Distribution after resampling:  [0 1 0 ... 1 1 1]

In [80]:
clf.fit(X_resampled,y_resampled)
y_pred=clf.predict(X_test)
print("Accuracy",accuracy_score(y_test,y_pred))
print("Classification Report \n",classification_report(y_test,y_pred))
print("Confusion Matrix",confusion_matrix(y_test,y_pred))

Accuracy 0.7118523775727467
Classification Report
               precision    recall  f1-score   support

           0       0.83      0.75      0.79      1009
           1       0.49      0.62      0.55       400

    accuracy                           0.71      1409
   macro avg       0.66      0.68      0.67      1409
weighted avg       0.74      0.71      0.72      1409

Confusion Matrix [[756 253]
 [153 247]]

In [81]:
from sklearn.model_selection import GridSearchCV
param_grid={
    'max_depth':[3,5,10,None],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,5],
    'class_weight':[None,"balanced"]
}

grid_search=GridSearchCV(estimator=DecisionTreeClassifier(random_state=42),
                        param_grid=param_grid,
                        scoring='f1_weighted',
                        cv=5)
grid_search.fit(X_resampled,y_resampled)

print("Best Parameters: ",grid_search.best_params_)
best_model=grid_search.best_estimator_

y_pred=best_model.predict(X_test)

print("Accuracy",accuracy_score(y_test,y_pred))
print("Classification Report \n",classification_report(y_test,y_pred))
print("Confusion Matrix",confusion_matrix(y_test,y_pred))

Best Parameters:  {'class_weight': None, 'max_depth': 10, 'min_samples_leaf': 2, 'min_samples_split': 2}
Accuracy 0.7444996451383961
Classification Report
               precision    recall  f1-score   support

           0       0.88      0.75      0.81      1009
           1       0.54      0.73      0.62       400

    accuracy                           0.74      1409
   macro avg       0.71      0.74      0.71      1409
weighted avg       0.78      0.74      0.75      1409

Confusion Matrix [[755 254]
 [106 294]]

In [82]:
rf=RandomForestClassifier(random_state=42,class_weight='balanced')
param_grid={
    'n_estimators':[50,100,200],
    'max_depth':[None,10,20,30],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,4],
    'max_features':['sqrt','log2',None]
}

grid_search=GridSearchCV(
    estimator=rf,
    param_grid=param_grid,
    scoring='f1',
    cv=3,
    verbose=1,
    n_jobs=1)

grid_search.fit(X_resampled,y_resampled)

print("Best Parameters: ",grid_search.best_params_)
best_model=grid_search.best_estimator_
print("best model: ",best_model)

Fitting 3 folds for each of 324 candidates, totalling 972 fits
Best Parameters:  {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
best model:  RandomForestClassifier(class_weight='balanced', max_depth=20, n_estimators=200,
                       random_state=42)

In [83]:
y_pred = best_model.predict(X_test)

# Evaluate performance
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.7863733144073811

Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.82      0.85      1009
           1       0.61      0.71      0.65       400

    accuracy                           0.79      1409
   macro avg       0.74      0.76      0.75      1409
weighted avg       0.80      0.79      0.79      1409

Confusion Matrix:
 [[823 186]
 [115 285]]